@model bookstore1_mvc.Models.logindb
@{
    ViewBag.Title = "login_load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Home</h2>
<div>
    @using (Html.BeginForm("login_click", "userLogin", FormMethod.Post))
    {
    <div><label>User Name</label></div>
        <div >
            @Html.TextBoxFor(m => m.username)
            @Html.ValidationMessageFor(m => m.username)
</div>
<div><label>password</label></div>
<div>
    @Html.TextBoxFor(m => m.password)
    @Html.ValidationMessageFor(m => m.password)
</div>
<div >
<input type="submit" value="login" />
@Html.DisplayFor(m => m.msg)</div>
}

    </div>

